<!-- Footer -->
<footer class="bg-white">
    <div class="container">
      <div class="row">
            <div class="col-md-3 col-sm-6">
              <h3>About Us</h3>
              <p>We provide you the best solutions and creative ideas with HTML, CSS, Bootstrap, Javascript, Jquery technologies, and SEO.</p>
            </div>
            <div class="col-md-3 col-sm-6">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="#">Link First</a></li>
                    <li><a href="#">Link Second</a></li>
                    <li><a href="#">Link Third</a></li>
                    <li><a href="#">Link Fourth</a></li>
                    <li><a href="#">Link Fifth</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h3>Our Services</h3>
                <ul>
                    <li><a href="#">Link First</a></li>
                    <li><a href="#">Link Second</a></li>
                    <li><a href="#">Link Third</a></li>
                    <li><a href="#">Link Fourth</a></li>
                    <li><a href="#">Link Fifth</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h3>Download App</h3>
                <div class="follow-us">
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i> Linkedin</a></li>
                    </ul>
                </div>
            </div>                
      </div>
    </div>

    <!-- Copyright Text -->
    <div class="copyright-txt">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="text-center">Copyright 2020. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
  </footer>