<!-- NAVBAR -->
<div class="pb-3 pt-3 border-bottom">
    <div class="container">
      <nav class="nav navbar-expand-sm navbar-light justify-content-between">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="index.html">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="my-posts.html">My Posts</a>
          </li>
      
          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Categories
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 3</a>
            </div>
          </li>
        </ul>
        <div class="d-flex align-items-center">
          <a class="navbar-brand" href="index.html">Blog Project</a>
        </div>
        <form class="form-inline">
          <div class="input-group">
            <input type="text" name="search" class="form-control pill-left" placeholder="Search">
            <div class="input-group-append">
              <button class="btn btn-secondary pill-right" type="submit">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </form>
      </nav>
    </div>
  </div>
