{% extends 'base.html' %}
{% load static %}

{% block 'body-content' %}
    <!-- Posts -->
  <div class="container mt-3">
    <!-- Author info -->
    <div class="mb-5">
        <div class="d-flex justify-content-center">        
            <img class="img-fluid rounded-circle" src="/static/image/author.jpg" alt="" style="height: 20vh;">
        </div>
        <h4 class="text-center text-muted">
            <b class="d-block">{{ post.author.username }}</b>
            <i>Author designation</i>
            <i>{{ post.author.date_joined }}</i>
        </h4>
    </div>
    
    <!-- Post info -->
    <div>
        <h1 class="text-center">{{ post.title }}</h1>
        <div class="d-flex justify-content-center">
            <img class="img-fluid rounded-lg shadow" style="height:70vh" src="static/image/post3.jpg" alt="">
        </div>
        <div>
            {{ post.content}}
        </div>
    </div>

    <!-- Related Content -->
    <div class="container mt-5">
    <div class="d-flex justify-content-center">
        <h1>Related Posts</h1>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 my-2">
        <div class="card border border-0">
            <img class="card-img-top rounded-lg shadow-sm" style="height:250px" src="/static/image/post-1.jpg" alt="Card image">
            <div class="card-body">
            <h4 class="card-title">title</h4>
            <p><b>Category</b><span class="text-muted">Date nodified</span></p>
            <p class="card-text">Some example text.</p>
            <div class="d-flex">
                <div>
                <img src="static/image/author.jpg" alt="" class="img-fluid rounded-circle" style="height: 7vh;">
                </div>
                <div class="ml-2">
                <h3>Author name</h3>
                <p>Designation</p>
                </div>
            </div>
            </div>
        </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-8 my-2">
        <div class="card border border-0">
            <img class="card-img-top rounded-lg shadow-sm" style="height:250px" src="/static/image/post4.jpg" alt="Card image">
            <div class="card-body">
            <h4 class="card-title">title</h4>
            <p><b>Category</b><span class="text-muted">Date nodified</span></p>
            <p class="card-text">Some example text.</p>
            <div class="d-flex">
                <div>
                <img src="static/image/author.jpg" alt="" class="img-fluid rounded-circle" style="height: 7vh;">
                </div>
                <div class="ml-2">
                <h3>Author name</h3>
                <p>Designation</p>
                </div>
            </div>
            </div>
        </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-8 my-2">
        <div class="card border border-0">
            <img class="card-img-top rounded-lg shadow-sm" style="height:250px" src="/static/image/post7.jpg" alt="Card image">
            <div class="card-body">
            <h4 class="card-title">title</h4>
            <p><b>Category</b><span class="text-muted">Date nodified</span></p>
            <p class="card-text">Some example text.</p>
            <div class="d-flex">
                <div>
                <img src="static/image/author.jpg" alt="" class="img-fluid rounded-circle" style="height: 7vh;">
                </div>
                <div class="ml-2">
                <h3>Author name</h3>
                <p>Designation</p>
                </div>
            </div>
            </div>
        </div>
        </div>
        
    </div>
    </div>
  </div>
{% endblock 'body-content' %}